
.tree-veiw{
    min-height: 100vh;
    width: 400px;
    background: darkblue;
    margin-top: -15px;
    padding-top: 20px;
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: white;
}

.side-menu-list{
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
}